/*------------------------------------------------------------------
Project:  ComingSoon
Version:  
Last change:  
Assigned to:  Bach Le
Primary use:  
-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ RS PLUGIN ]*/
/*---------------------------------------------*/
.container {max-width: 1200px;}


/*//////////////////////////////////////////////////////////////////
[ Form ]*/
.contact100-form {
  width: 100%;
}


/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/
.cl0 {color: #fff;}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/
.body-1 {
font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
font-size: 22px;
color: #3D4249;
}

/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.headline-1 {
font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
font-size: 96px;

line-height: 117px;
color: #EB5757;
}


/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/
/*//////////////////////////////////////////////////////////////////
[ Size ]*/
.size1 {
  width: 100%;
  min-height: 100vh;
}


/*//////////////////////////////////////////////////////////////////
[ Width ]*/
.wsize1 {
  max-width: 100%;
  width: 780px;
}



/*//////////////////////////////////////////////////////////////////
[ Height ]*/
.hsize1 {
  min-height: 230px;
}

/*//////////////////////////////////////////////////////////////////
[ Background ]*/

.bg {
background: #F2F5F9;
border-radius: 32px;
border-top-left-radius: 0px;;
}


